/* General setup */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  line-height: 1.6;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Arvo', serif;
  letter-spacing:1px;
}

h1{
  font-size: 3rem;
  text-align: center;
  line-height: 1;
}

h2{
  font-size: 2rem;
}

p {
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

h2 + p{
  text-indent: 20px;
}

a{
  color: #a66;
}

a:hover, a:focus{
  text-decoration: none;
}

a:focus {
  outline: none;
}

section p a::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(external-link-52.png);
  background-size: cover;
  margin-left: 5px;
}

section ul, aside ul {
  list-style: none; /* Remove default bullets */
}

section ul li, aside ul li {
  line-height: 1.5; /* Adjust as needed */
  padding-left: 20px; /* Adjust as needed */
  position: relative;
}

section ul li::before, aside ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px; /* Adjust as needed */
  height: 6px; /* Adjust as needed */
  background-color: #000; /* Adjust as needed */
}

nav ul li{
  list-style: none;
  font-size: 1.2rem;
  border: solid 1px #a66;
  text-align: center;
  padding: 12px;
  margin-bottom: 20px;
}

nav ul li a{
  text-decoration: none;
}